package-lock.json
./.rpt2_cache
.idea

# some file types
src/**/*.js
*.blend1
*.blend2
*.DS_Store
*.old
*.sav
*.kra~
*.ffs_db

# some specific files
Thumbs.db
scene.log

# some specific folders
node_modules/
